<h3 style="color: #AAAAAA ">Pet Info</h3>
<table>
  <tr>
    <td style="">Name</td>
    <td><input class="text" [(ngModel)]="pet.name"/></td>
    <td><label>Age</label></td>
    <td><input class = "text" [(ngModel)]="pet.age"/></td>
  </tr>
  <tr>
    <td>Species</td>
    <td><input class = "text"[(ngModel)]="pet.species"/></td>
    <td>Breed</td>
    <td><input class = "text" [(ngModel)]="pet.breed"/></td>
  </tr>
  <tr>
    <td>Weight</td>
    <td><input class = "text" [(ngModel)]="pet.weight"/></td>
    <td>Photo</td>
    <td><input class = "text" [(ngModel)]="pet.photo"/></td>
  </tr>
  <tr></tr>
  <tr>
    <td>
      <button (click)="postPet()">Post</button>
    </td>
  </tr>
</table>
<div class="message">{{message}}</div>
