<h3>Pet Info</h3>
<table>
  <tr>
    <td><label>Name</label></td>
    <td><input [(ngModel)]="pet.name"/></td>
    <td><label>Age</label></td>
    <td><input [(ngModel)]="pet.age"/></td>
  </tr>
  <tr>
    <td><label>Species</label></td>
    <td><input [(ngModel)]="pet.species"/></td>
    <td><label>Breed</label></td>
    <td><input [(ngModel)]="pet.breed"/></td>
  </tr>
  <tr>
    <td><label>Weight</label></td>
    <td><input [(ngModel)]="pet.weight"/></td>
    <td><label>Photo</label></td>
    <td><input [(ngModel)]="pet.photo"/></td>
  </tr>
  <tr>
    <td>
      <button (click)="postPet()">Post</button>
    </td>
  </tr>
</table>
<div class="message">{{message}}</div>
