div {
  color: white;
}

.interested-table {
  border: 1px solid white;
  width: 300px;
}

.top-bar {
  text-align: center;
  padding-top: 150px;
  width: 100%;
  height: 200px;
  background: #80BD9E url("app/view/pets.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  margin-bottom: 10px;
}

h1, h2, h3 {
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table {
  color: white;
}

.title {
  color: white;
  font-size: 50px;
  background-color: #404040;
  border-radius: 50px;
  padding: 25px 100px 25px 100px;
}

.species-select {
  border-radius: 10px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
}

nav {
  background-color: #80BD9E;
  padding: 5px 0 5px 5px;
  border-radius: 2px;
}

button {
  color: white;
  background-color: #404040;
  width: 200px;
  height: 40px;
  font-size: 20px;
}

.pet-td {
  min-width: 125px;
  padding: 0 10px 0 10px;
}

.profile-image {
  width: 300px;
}

.message {
  color: white;
}

.right-align {
  text-align: right;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.text {
  padding: 5px;
  border: none;
  border-radius: 5px
}
